@media only screen and (max-width: 600px){
  .header .logo{
    margin-left:-20px;
  }
}
@media only screen and (max-width: 600px){
  .header p{
    margin-right:-20px;
  }
}
@media only screen and (max-width: 600px) {
  .bacgrawend {
    background-image: url(/Images/bg-hero-mobile.svg);
    background-size: cover;
    max-width:100%;
  }
}

@media only screen and (max-width: 600px) {
  .page1 .image img {
    max-width: 99%;
    margin-left: 9.5px;
    margin-top: 40px;
    height:320px;
  }
}
@media only screen and (max-width: 600px) {
  .page1 .titel {
    max-width: 90%;
    text-align: center;
    margin: auto;
    
  }
  .page1 .titel .border {
    max-width: 90%;
    margin-left:17px;
  }
}
@media only screen and (max-width: 600px) {
  .templet1 .titel {
    text-align: center;
    margin: auto;
    order: 1;
     max-width:90%;
  }
}
@media only screen and (max-width: 600px) {
  .templet2 .titel {
    text-align: center;
    margin: auto;
    order: 0;
     max-width:90%;
  }
}
@media only screen and (max-width: 600px) {
  .templet3 .titel {
    text-align: center;
    margin: auto;
    order: 1;
     max-width:90%;
  }
}
@media only screen and (max-width: 600px) {
  .templet1 .image img {
    margin-left: 0px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .templet2 .image img {
    margin-left: 0px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .templet3 .image img {
    margin-left: 0px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .templetbutton .conteaner {
    max-width: 90%;
    text-align: center;
    margin-top: 93px;
  }
  .templetbutton .conteaner p {
    max-width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .social {
    margin-left: 78px;
    margin-top: 30px;
    margin-bottom:5px;
  }
}
